@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.message {
    padding: 0 70px 45px 70px;
    font-family: 'Montserrat';
}

.imageAndText {
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.text {
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px 10px 0 10px;
    margin-right: 12px;
    color: #FFFFFF;
}

.text:after {
    width: 0;
    height: 0;
    right: 500px;
    border-style: solid;
    border-width: 3.5em 3.5em 3.5em 3.5em;
    border-color: transparent transparent red red;
    filter: drop-shadow(0 0 5px #000);
}

.name {
    display: flex;
    justify-content: flex-end;
    padding: 7px 15px 0 15px;
    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px 8px 15px;
}

.time {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 5px;
    font-weight: 600;
}